html, body {
    height: 100%;
} 

body {
    background-image: linear-gradient(to bottom, #899499, #7393B3);
}

h1 {
    text-align: center;
    color: #E5E4E2;
    text-shadow:black 2px 0px 2px;
    font-family: "Permanent Marker", cursive;
    letter-spacing: 5px;
    
}

#number {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFD580;
    border: none;
    border-radius: 7px;
    background: black;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Permanent Marker", cursive;
    letter-spacing: 5px;
    
}

#number:hover {
    background: green;
    color: #EDEADE;
    font-family: "Faster One", system-ui;
    letter-spacing: 0px;
    

}

#first-car {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    font-size: 98px;
    position: absolute;
    right: 5px;
    transition: right 2s ease-in-out;
    
}